
/* Color Scheme*/
.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #9E9E9E; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
/* End of color Scheme*/

/*  Google Font Family  */
font-family: 'Roboto Slab', serif;
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
/* End of Google font family */

/* Body CSS */
body {
  background-color: #fff;
  width: 100%;

}

/* End of Body CSS */
/*start of navbar and Header */
.navi-bar {
  background-color: #1976D2;
  height: 5vh;
}

.header-bar {
  background-color: #2196F3;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text {
  colot:#212121;
  font-size: 2.5em;
  font-weight: 400;
  font-family: Lobster;
}

.form-background {
  background-color: #757575;
  padding: 1%;
}
